/* $sidebar-bg-color: #1c2a40;
$sidebar-color: white;
$icon-bg-color: #bcbcbc;

@import "~react-pro-sidebar/dist/scss/styles.scss"; */

input:focus-visible,
textarea:focus-visible {
  outline-width: 0px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  padding-left: 30px;
}

.s-logo-container {
  padding: 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.s-logo {
  width: 50px;
  height: 50px;
}

.s-footer {
  margin-bottom: 24px;
  margin-top: 24px;
}

.s-footer .s-icon {
  color: #bcbcbc;
  transition-duration: 0.1s;
  cursor: pointer;
}

.s-footer .s-icon:hover {
  color: white;
}

.main-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
  background-color: #e3e3e3;
}

.home-container {
  margin-left: 98px;
  /* padding-left: 60px; */
  padding-right: 60px;
  /* display: flex; */
  /* flex-direction: column; */
  flex: 1;
}

.home-container .quick-tools-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.home-container .quick-tools-container .quick-tools {
  background-color: white;
  margin-right: 60px;
  border-radius: 10px;
  display: flex;
  flex: 1px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.home-container .quick-tools-container .quick-tools:hover {
  background-color: #eeeeee;
}

.profileModal,
.profileModal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.profileModal-overlay {
  background: rgba(49, 49, 49, 0.8);
}

.profileModal-header {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid;
  padding: 15px 0;
  align-items: center;
}

.profileModal-header .icon-close {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.profileModal-header-title {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  flex: 1;
}
.profileModal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  /* padding: 30px; */
  border-radius: 10px;
  max-width: 900px;
  min-width: 600px;
  overflow: hidden;
}

.profileModal-innerContent {
  padding: 5px 30px;
}

.profile-row1,
.profile-row2,
.profile-row3 {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.profile-row3 {
  margin-bottom: 25px;
}

.profile-labels {
  margin-left: 15px;
  font-size: 18px;
  /* font-weight: bold; */
}

.profile-data {
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
}

.profile-row4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 24px;
  padding-right: 24px;
  color: white;
  border-radius: 5px;
  border: 1.5px solid #1c2a40;
  font-size: 14px;
  align-self: center;
  cursor: pointer;
  color: #1c2a40;
  font-weight: 500;
  transition-duration: 0.3s;
  margin-bottom: 30px;
}

.profile-button:hover {
  background-color: #1c2a40;
  color: white;
}

.modify-container {
  margin-left: 98px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
}

.modify-container .header {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modify-container .header .title {
  font-size: 24px;
  font-weight: bold;
  color: #1c2a40;
}

.modify-container .header .save-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 30px;
  color: white;
  border-radius: 5px;
  border: 1.5px solid #1c2a40;
  font-size: 14px;
  align-self: baseline;
  cursor: pointer;
  color: #1c2a40;
  font-weight: 500;
  transition-duration: 0.3s;
}

.modify-container .header .save-btn:hover {
  background-color: #1c2a40;
  color: white;
}

.modify-container .body {
  margin-top: 40px;
  margin-bottom: 60px;
}

.modify-container .filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modify-container .body .filter-container .filter {
  margin-right: 30px;
  background-color: #eeeeee;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 100px;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 1px;
  border-color: #bcbcbc;
  cursor: pointer;
}

.modify-container .body .table {
  margin-top: 30px;
  margin-right: 100px;

  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  flex: 1;
  overflow: hidden;
}

.modify-container .body .table .table-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1px;
  padding-left: 30px;
  padding-right: 30px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1.5px;
  border-color: #1c2a40;
  border-style: solid;
}

.modify-container .body .table .row-t {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-color: black;
  border-style: solid;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.modify-container .body .table .row-t:hover {
  background-color: #eeeeee;
}

.modify-container .body .table .row-t .status {
  accent-color: #1c2a40;
}

/*  Assign Teacher screen css */
.assign-container {
  margin-left: 98px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
}

.assign-container .header {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.assign-container .header .title {
  font-size: 24px;
  font-weight: bold;
  color: #1c2a40;
}

.assign-container .body {
  margin-top: 40px;
  margin-bottom: 60px;
}

.assign-container .body .searchBar {
  border: 1.5px solid #1c2a40;
  border-radius: 5px;
  width: 30%;
  padding: 6px;
  padding-left: 8px;
  background-color: #e3e3e3;
}

.assign-container .body .table {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  flex: 1;
  overflow: hidden;
}

.assign-container .body .table .table-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1px;
  padding-left: 30px;
  padding-right: 30px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1.5px;
  border-color: #1c2a40;
  border-style: solid;
}
.assign-container .body .table .edit-button {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-radius: 5px;
  border: 1.5px solid #1c2a40;
  font-size: 14px;
  align-self: baseline;
  cursor: pointer;
  color: #1c2a40;
  font-weight: 500;
  transition-duration: 0.3s;
  text-align: center;
}

.assign-container .body .table .row-t {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-color: black;
  border-style: solid;
  padding-left: 30px;
  padding-right: 30px;
}

/* .assign-container .body .table .row-t:hover {
  background-color: #eeeeee;
}

.assign-container .body .table .row-t .status {
  accent-color: #1c2a40;
} */

/* Assign-Teacher edit-button Modal css */
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}
.inputBox1 {
  color: black;
  border: 1px solid;
  border-radius: 5px;
  border-color: black;
  width: 100%;
  padding: 8px;
  padding-left: 8px;
}
.inputBox2 {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  padding-left: 8px;
  background-color: #eeeeee;
}

.saveModal-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 24px;
  padding-right: 24px;
  color: white;
  border-radius: 5px;
  border: 1.5px solid #1c2a40;
  font-size: 14px;
  align-self: center;
  cursor: pointer;
  color: #1c2a40;
  font-weight: 500;
  transition-duration: 0.3s;
  margin-top: 30px;
}

.saveModal-button:hover {
  background-color: #1c2a40;
  color: white;
}
